* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

@yellow: #fbb157;
@green: #81a27f;
@purple: #b57bb5;
@red: #F16567;

body {
  max-width: 630px;
  font-family: @df-sans;
}

.outermost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
  margin: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;

  @media @mobile {
    font-size: 24px;
  }
}

.chatter {
  font-size: 15px;
  padding-bottom: 25px;
  font-family: @df-serif;
}

.search-container {
  text-align: center;
  font-size: 18px;
}

type-select {
  position: relative;
  margin-left: 10px;

  @media @mobile {
    margin-right: 10px;
    display: block;
    font-size: 16px;
  }

  input {
    background-color: lighten(@yellow, 22%);
    padding: 6px 0;
    border: none;
    border-bottom: 1px dotted black;
    font-family: @df-serif;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    width: 350px;
    max-width: 100%;
    font-style: italic;
  }

  .completion {
    display: none;
    position: absolute;
    left: 0;
    z-index: 9999;

    background: white;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .3);
    padding: 4px;
    // max-width: 100%;
    width: 350px;
    max-width: 100%;
    font-family: @df-sans;
    font-size: 13px;
  }

  &.show-completion .completion {
    display: block;
  }

  .option {
    display: block;
    background: #EEE;
    color: @df-dark-gray;
    padding: 4px;
    margin-bottom: 4px;
    cursor: pointer;

    &.default {
      background: #EEE;
    }

    &:first-child:not(.default) {
      background: @df-light-gray;
    }
  }

  .options {
    max-height: 200px;
    overflow-y: auto;
  }

  hr {
    width: 80%;
    border: 1px solid @df-light-gray;
  }
}

.no-results {
  padding-top: 25px;
  font-style: italic;

  .alarm {
    padding-right: 4px;
    color: @df-middle-gray;
  }
}

table {
  margin: auto;
  margin-top: 25px;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;

  .fa {
    font-size: 24px !important;
    margin-bottom: 7px;
  }

  td {
    padding: 5px 15px;
  }

  th {
    font-size: 14px;
    padding: 10px 15px;
    vertical-align: bottom;
    text-transform: uppercase;

    @media @mobile {
      padding: 0 5px;
    }
    &.grade {
      background: @yellow;
      color: white;
      border-right: 2px solid black;
    }
    &.math {
      background: @purple;
      color: white;
    }
    &.reading {
      background: @red;
      color: white;
    }
  }

  td.checkmark-math, td.checkmark-reading {
    padding: 0 15px 0 15px;
    @media @mobile {
      padding-right: 8px;
      padding-left: 0px;
    }
  }

// .grade {
  tr:nth-child(odd) {
    td.grade {
      background: lighten(@yellow, 22%);
      border-right: 2px solid black;
      font-weight: bold;
    }
    td.math, td.checkmark-math {
      background: lighten(@purple, 30%);
    }
    td.reading, td.checkmark-reading {
      background: lighten(@red, 22%);
    }
  }
  tr:nth-child(even) {
    td.grade {
      background: lighten(@yellow, 27%);
      border-right: 2px solid black;
      font-weight: bold;
    }
    td.math, td.checkmark-math{
      background: lighten(@purple, 35%);
    }
    td.reading, td.checkmark-reading {
      background: lighten(@red, 27%);
    }
  }
}

.source {
  padding-top: 25px;
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}
