<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>

  <body ng-app="common-core-search">

    <responsive-child>

      <div ng-controller="commonCoreController" class="outermost" ng-cloak>

        <div class="title">
          Washington Smarter Balanced results
        </div>
        <div class="chatter">
          Washington students who took Smarter Balanced tests in math and English/language arts (ELA) last spring generally scored higher than officials had predicted, although the results varied district by district.
        </div>

        <div class="search-container">
          <span class="view">View report card for:</span>
          <type-select options="districts" model="district"></type-select>
          <div ng-if="district">
            <div class="no-results" ng-if="!district.grades">
              <i class="alarm fa fa-exclamation-triangle"></i> No reported results for this district.
            </div>

            <div class="showing">
              <span class="label">Showing:</span>
              <select name="select">
                <option ng-repeat="school in district.schools">{{school}}</option> 
              </select>
            </div>

            <table ng-if="district.grades">
              <tr ng-if="district.grades" class="table-label"><td colspan="3">Percentage of students proficient:</td></tr>
              <tr class="header">
                <td class="grade">Grade</td>
                <td class="math"><div><i class="fa fa-calculator"></i></div>Math</td>
                <td class="reading"><div><i class="fa fa-pencil"></i></div>ELA</td>
              </tr>
              <tr ng-repeat="row in district.grades">
                <td class="grade">{{row.GradeTested}}</td>
                <td class="math">
                  <span ng-if="row.MathPercentMetStandardIncludingPrevPass">
                    {{row.MathPercentMetStandardIncludingPrevPass | number : 1}}%
                  </span>
                  <span ng-if="!row.MathPercentMetStandardIncludingPrevPass">
                    -
                  </span>
                <td class="reading">
                  <span ng-if="row.ELAPercentMetStandardIncludingPrevPass">
                    {{row.ELAPercentMetStandardIncludingPrevPass | number : 1}}%
                  </span>
                  <span ng-if="!row.ELAPercentMetStandardIncludingPrevPass">
                    -
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="bottom">
          <div class="note">
            Note: Students who opted out of the test were given scores of zero, and are counted in these numbers as not passing.
          </div>
          <div class="source"><em>
            Source: Office of Superintendent of Public Instruction</em>
          </div>
          <div class="credit">AUDREY CARLSEN AND EMMA O'NEILL / THE SEATTLE TIMES</div>
        </div>

      </div>

    </responsive-child>

    <script>
      var districtData = <%= JSON.stringify(csv.scores_by_district) %>;
      var schoolData = <%= JSON.stringify(csv.scores_by_school) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
