<%

var scoreFields = "MathPercentMetStandardIncludingPrevPass ELAPercentMetStandardIncludingPrevPass".split(" ");

var whitelist = scoreFields.concat(["School", "District", "County", "GradeTested"]);

var clean = function(r) {
  var out = {};
  whitelist.forEach(function(key) {
    out[key] = r[key];
  });
  return out;
}

var groupedResults = {};

var districtData = csv.scores_by_district;
var schoolData = csv.scores_by_school;

districtData.forEach(function(row) {
  if(!groupedResults[row.District]) groupedResults[row.District] = {
    county: row.County,
    district: row.District
  };
  var group = groupedResults[row.District];
  var hasResult = false;
  scoreFields.forEach(function(f) { hasResult = hasResult || !!row[f] });
  if (!hasResult) return;
  if (!group.grades) group.grades = {};
  group.grades[row.GradeTested] = clean(row);
});

var groupedSchoolResults = {};

schoolData.forEach(function(row) {
  if(!groupedSchoolResults[row.School + row.District]) groupedSchoolResults[row.School + row.District] = {
    school: row.School,
    district: row.District
  };
  var group = groupedSchoolResults[row.School + row.District];
  var hasResult = false;
  scoreFields.forEach(function(f) { hasResult = hasResult || !!row[f] });
  if (!hasResult) return;
  if (!group.grades) group.grades = {};
  group.grades[row.GradeTested] = clean(row);
});

var groupedSchools = Object.keys(groupedSchoolResults).map(function(k) { 
  return groupedSchoolResults[k]
});

groupedSchools.forEach(function(school) {
  if (school.school == "Pioneer Elementary School") {console.log(school)}
  var district = groupedResults[school.district];
  if (!district) return;
  if (!district.schools) district.schools = {};
  district.schools[school.school] = school;
});

var grouped = Object.keys(groupedResults).map(function(k) { return groupedResults[k] });

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
    <style>
      [ng-cloak] {
      display: none;
      }
    </style>
  </head>

  <body ng-app="common-core-search">

    <responsive-child>

      <div ng-controller="commonCoreController" class="outermost" ng-cloak>

        <div class="title">
          Washington Smarter Balanced results
        </div>
        <div class="chatter">
          Washington students who took Smarter Balanced tests in math and English/language arts (ELA) last spring generally scored higher than officials had predicted, although the results varied district by district.
        </div>

        <div class="search-container">
          <span class="view">View report card for:</span>
          <type-select options="districts" model="district"></type-select>
          <div ng-if="school">
            <div class="no-results" ng-if="!school.grades">
              <i class="alarm fa fa-exclamation-triangle"></i> No reported results.
            </div>

            <div class="showing" ng-class="{ visible: district.grades }">
              <span class="label">Showing:</span>
              <select name="select" ng-model="$parent.schoolName">
                <option value="">District Average</option> 
                <option value="{{s.school}}" ng-repeat="s in district.schools">{{s.school}}</option> 
              </select>
            </div>

            <table ng-if="school.grades">
              <tr ng-if="school.grades" class="table-label"><td colspan="3">Percentage of students proficient:</td></tr>
              <tr class="header">
                <td class="grade">Grade</td>
                <td class="math"><div><i class="fa fa-calculator"></i></div>Math</td>
                <td class="reading"><div><i class="fa fa-pencil"></i></div>ELA</td>
              </tr>
              <tr ng-repeat="row in school.grades">
                <td class="grade">{{row.GradeTested}}</td>
                <td class="math">
                  <span ng-if="row.MathPercentMetStandardIncludingPrevPass">
                    {{row.MathPercentMetStandardIncludingPrevPass | number : 1}}%
                  </span>
                  <span ng-if="!row.MathPercentMetStandardIncludingPrevPass">
                    -
                  </span>
                <td class="reading">
                  <span ng-if="row.ELAPercentMetStandardIncludingPrevPass">
                    {{row.ELAPercentMetStandardIncludingPrevPass | number : 1}}%
                  </span>
                  <span ng-if="!row.ELAPercentMetStandardIncludingPrevPass">
                    -
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="bottom">
          <div class="note">
            Note: Students who opted out of the test were given scores of zero, and are counted in these numbers are not passing. In a number of high schools across the state, many 11th-graders opted out, which is the reason passing rates may be low. Results also aren’t available when only a small number of students took the test.
          </div>
          <div class="source"><em>
            Source: Office of Superintendent of Public Instruction</em>
          </div>
          <div class="credit">AUDREY CARLSEN AND EMMA O'NEILL / THE SEATTLE TIMES</div>
        </div>

      </div>

    </responsive-child>

    <script>
      var districtData = <%= JSON.stringify(grouped) %>;
    </script>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
